body{
    background-image: url(bg-image.jpg);
} 
.flex-box{
    display: flex;
    justify-content: center;
}
.d-width{
    width: 100vw;
    height: 70vh;
}
@media  (max-width: 975px){
   .d-width{
   width: 100vw;
    height: 30vh;
}
